{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-7" style="margin-top: 40px;">
      <h1 class="mt-0">{{ .Title }}</h1>
    <!-- </div> -->
    <!-- <div class="col-lg-6 col-xl-6"> -->
      <p class="lead">{{ .Params.lead | safeHTML }}</p><br>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "/docs/lang/introduction/" | absURL }}" role="button" style="color: white !important;">Explore</a>
    <!-- </div> -->
  </div>
  <div class="col-lg-7 col-xl-8 text-center">
    <img src="images/vendor/Hero Image.png" class="img-fluid light-img" style="margin-top: 10px; margin-bottom: 10px;">
    <img src="images/vendor/Hero Image_dark.png" class="img-fluid dark-img" style="margin-top: 10px; margin-bottom: 10px;">
  </div>
</section>
<div style="height: 50px;"></div>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-lg-5">
        <img src="images/vendor/Secure Coding.png" class="light-img img-fluid">
        <img src="images/vendor/Secure Coding_dark.png" class="dark-img img-fluid">
        <h2 class="h4">Secure Code Review Challenges</h2>
        <p>Code snippets with different security vulnerabilities embedded within.</p>
      </div>
      <div class="col-lg-5">
        <img src="images/vendor/Home to Languages.png" class="light-img img-fluid">
        <img src="images/vendor/Home to Languages_dark.png" class="dark-img img-fluid">
        <h2 class="h4">Home to Languages</h2>
        <p>Challenges created in multiple languages like PHP, Node.js, .NET, Java, Python.</p>
      </div>
      <div class="col-lg-5">
        <img src="images/vendor/Giving to community.png" class="light-img img-fluid">
        <img src="images/vendor/Giving to community_dark.png" class="dark-img img-fluid">
        <h2 class="h4">Giving to community</h2>
        <p>Helping the community read and write secure codes.</p>
      </div>
    </div><br>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
